div {
    margin-bottom: 32rem;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 2rem;
    background-color: slategray;
}

a {
    display: inline-flex;
}

svg {
    width: 4rem;
    height: 4rem;
}